.banner-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "-";
}

ul.breadcrumb ul.post-categories {
    display: inline;
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #424f7b;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #ef533a;
    text-decoration: underline;
}

.banner-news .title-banner-news {
    margin-left: 100px;
}

.banner-news .title-banner-news h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #424f7b;
    padding: 20px;
    border-left: 5px solid #ef533a;
}

.banner-news .title-banner-news {
    width: 30%;
    margin: 0px 100px;
}

.banner-news .img-banner-news img {
    width: 80%;
}


/*End banner*/

.container.py-4 h1 {
    color: #424f7b !important;
}

.container.py-4 .post-meta.mb-3 .categories ul.post-categories {
    display: inline;
}

.container.py-4 .post-meta.mb-3 .categories ul.post-categories li {
    display: inline;
}

.container.py-4 .post-meta.mb-3 .categories ul.post-categories li a {
    color: #EF533A;
}

.container.py-4 .post-content .wp-block-image.size-large {
    width: 100%;
    height: 500px;
}

.container.py-4 .post-content .wp-block-image.size-large img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}